.body{
    max-width: 1170px;
    background-color: gray;
    margin: auto;
}
.card-selection {
    text-align: center;
}
h2{
    color:blue;
    font-size: 2em;
}
.heading{
    font-weight: 700px;
    font-size: 1.5em;
}
.card-container{
    display:flex;
    gap: 50px;
    flex-wrap: wrap;
}
.card{
    width:300px;
    border: 2px solid sandybrown;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
}
.card:hover{
    background-color: aquamarine;
}
.card h3{
    font-size: 1.25em;
    font-weight:700px;
    text-align: left;
}
.card img{
    width:100%;
    border-radius: 10px;
    
}
.card button{
    background-color: aqua;
    padding : 10px 30px;
    font-size: 1.25 em;
    border-radius: 10px;
    cursor: pointer;
}
.card button:hover{
    background-color: lightblue;
}