body{
  margin: 0;
  background: lightgray;
}

.hero{
  background: aquamarine;
  padding: 30px;
}

.hero-box{
  background: burlywood;
  max-width: 1000px;
  margin: auto;         
  padding: 20px;

  display: flex;  
  gap: 20px;
  align-items: center;
}

.hero-text{
  width: 50%;
}

.hero-image{
  width: 50%;
}

.hero-image img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

